@import "../utilities/variables";
footer{
    width: 100%;
    background: rgb(2,0,36);
    background: $bg__color;
    height: 80px;
    color: #fff;
    .footer__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 5px 25px;
    }
    a{
        color: #fff;
        font-size: 2em;
        line-height: 60px;
        margin: 5px 20px;
    }
}


