@import "../utilities/mixins";
@import "../utilities/variables";


main{
    .tittle__jugadores{
        width: auto;
        height: auto;
        margin: 5em auto;
        font-size: 2em;
        text-align: center;
        color: #f3f3f3;
        box-shadow: rgba(6, 6, 250, 0.25) 0px 30px 60px -12px inset, rgba(240, 225, 225, 0.3) 0px 18px 36px -18px inset;
    }
    .container__jugadores{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .card__jugadores{
            height: 440px;
            font-weight: bold;
            width: 290px;
            margin: 3rem auto;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            border: #f3f3f3 3px solid;
            img{
                border: #f3f3f3 3px solid;
                height: 100%;
                width: 100%;
                position: absolute;
                transition: 1s;
                &:hover{
                    transform: scale(1.3);
                    
                }
            }
            .layer{
                text-align: center;
                position: relative;
                color: rgb(255, 255, 255);
                letter-spacing: 0.5rem;
                h1{
                    font-size: 3rem;
                    margin-bottom: 5rem;
                }
            }
        }
    }
}





@media (min-width: 400px){
    .card__jugadores{
        width: 290px;
    }
}