main{
    .nosotros__section-uno{
        .nosotros__article-uno{
            padding: 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin: 5em auto;
            
            h1{
                margin: 2em auto;
                text-align: center;
                font-size: 2.5em;
                color: beige;
                font-weight: bold;
            }
            img{
                padding: 5px;
                width: 50%;
                border: solid 1px #f3f3f3;
                margin: 1em;
            }
            p{
                padding: 15px;
                text-align: start;
                font-size: 1.5em;
                color: beige;
            }
        }

    }
    .nosotros__article-dos{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        h2{
            margin: 25px auto;
            font-size: 2em;
            color: beige;
        }
        h3{
            margin: 3em auto;
            font-size: 1.7em;
            color: blanchedalmond;
        }
    }
    .nosotros__section-dos{
        width: 100%;
        height: auto;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        article{
            border: 3px solid #000;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            align-items: center;
            margin: 5rem 2rem;
            padding: 25px;
            img{
                width: 50%;
                margin: 2em auto;
            }    
            ol{
                color: #f3f3f3;
                font-size: 1.5em;
                font-weight: bold;
                text-decoration: solid;   
            }
            
        }        
    }
}


