@import "./scss/utilities/variables";
@import "utilities/tipografias";

.btn__more{
    background:map-get($map: $bg, $key:'dos' );
    width: 100px;
    height: 30px;
    border: none;
    color: aliceblue;
    font-size: 1em;
    &:hover{
        color:map-get($map: $paleta, $key:'cinco' );
        cursor: pointer;
    }
}

.btn__rounded{
    @extend .btn__more;
    border-radius: 6px;
}